<div *ngIf="renderTypeCanvas">
    <canvas height="1000px" width="1000px" #myCanvas></canvas>
</div>
<div *ngIf="renderTypeTable">
    <table>
        <tr *ngFor="let row of data; index as rowindex;">
            <td (click)="toggleField(rowindex, colindex)" *ngFor="let col of row; index as colindex;">
                <div [ngClass]="{'dead': col === false, 'alive' : col === true }" class="content">
                </div>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="container" id="settingsContainer">
    <div class="row top-buffer">
        <div class="col-6">
            <button type="button" class="btn btn-primary mybutton" (click)="startClicked()">Start / Stop</button>
        </div>
        <div *ngIf="running===true" class="col">
            <span class="badge text-bg-primary">Running</span>
        </div>
        <div *ngIf="running===false" class="col">
            <span class="badge text-bg-secondary">Stopped</span>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-6">
            <button type="button" class="btn btn-primary mybutton" (click)="step()">Step</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col">
            <button type="button" class="btn btn-warning mybutton" (click)="makePlayfield()">Generate random
                field</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning mybutton" (click)="makeEmptyField()">Generate empty
                field</button>
        </div>

    </div>
    <div class="row top-buffer">
        <label for="inputFieldSize">Feldgröße X</label>
    </div>
    <div class="row">
        <input [(ngModel)]="fieldSizeX" type="range" class="form-range" id="inputFieldSize" placeholder="Zahl eingeben"
            min="10" max="100">
    </div>
    <div class="row">
        <div>{{fieldSizeX}}</div>

    </div>
    <div class="row top-buffer">
        <label for="inputFieldSize">Feldgröße Y</label>
    </div>
    <div class="row">
        <input [(ngModel)]="fieldSizeY" type="range" class="form-range" id="inputFieldSize" placeholder="Zahl eingeben"
            min="10" max="100">
    </div>
    <div class="row">
        <div>{{fieldSizeY}}</div>
    </div>
    <div class="row top-buffer">
        <label for="inputUpdateInterval">Aktualisierungsrate in ms</label>
    </div>
    <div class="row">
        <input [(ngModel)]="refreshIntervalMs" type="range" class="form-range" id="inputUpdateInterval"
            placeholder="Zahl eingeben" min="1" max="1000">
    </div>
    <div class="row">
        <div>{{refreshIntervalMs}}</div>
    </div>
    <div class="row top-buffer">
        <label for="inputUpdateInterval">Abstand der Rechtecke</label>
    </div>
    <div class="row">
        <input [(ngModel)]="SettingCanvasRectsSpaceBetween" type="range" class="form-range" id="inputUpdateInterval"
            placeholder="Zahl eingeben" min="0" max="4" (change)="drawGridOnCanvas()">
    </div>
    <div class="row">
        <div>{{SettingCanvasRectsSpaceBetween}}</div>
    </div>
    <div class="row top-buffer">
        <div class="col-6">
            <label for="inputUpdateInterval">Zeichne Rahmen</label>
        </div>
        <div class="col-6">
            <input [(ngModel)]="canvasDrawBorder" type="checkbox" class="checkbox" id="inputCanvasDrawBorder"
                (change)="drawGridOnCanvas()" min="1" max="1000">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-6">
            <label for="inputUpdateInterval">Render Canvas</label>
        </div>
        <div class="col-6">
            <input [(ngModel)]="renderTypeCanvas" type="checkbox" class="checkbox" id="inputCanvasDrawBorder" onchange="drawGridOnCanvas">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-6">
            <label for="inputUpdateInterval">Render Table</label>
        </div>
        <div class="col-6">
            <input [(ngModel)]="renderTypeTable" type="checkbox" class="checkbox" id="inputCanvasDrawBorder">
        </div>
    </div>

    <div class="row">
        <br>
    </div>

</div>