<canvas height="1000px" width="1000px" #myCanvas id="myCanvas"></canvas>
<!--table>
    <tr *ngFor="let row of data; index as rowindex;">
        <td (click)="toggleField(rowindex, colindex)" *ngFor="let col of row; index as colindex;">
            <div [ngClass]="{'dead': col === false, 'alive' : col === true }" class="content">
            </div>
        </td>
    </tr>
</table-->
<hr>
<div class="container" id="settingsContainer">
    <div class="row top-buffer">
        <div class="col-6">
            <button type="button" class="btn btn-primary mybutton" (click)="startClicked()">Start / Stop</button>
        </div>
        <div *ngIf="running===true" class="col">
            <span class="badge text-bg-primary">Running</span>
        </div>
        <div *ngIf="running===false" class="col">
            <span class="badge text-bg-secondary">Stopped</span>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col">
            <button type="button" class="btn btn-warning mybutton" (click)="makePlayfield()">Generate random
                field</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning mybutton" (click)="makeEmptyField()">Generate empty
                field</button>
        </div>

    </div>
    <div class="row top-buffer">
        <label for="inputFieldSize">Feldgröße</label>
    </div>
    <div class="row">
        <input [(ngModel)]="fieldSize" type="range" class="form-range" id="inputFieldSize" placeholder="Zahl eingeben"
            min="10" max="100">
    </div>
    <div class="row">
        <div>{{fieldSize}}</div>

    </div>
    <div class="row top-buffer">
        <label for="inputUpdateInterval">Aktualisierungsrate in ms</label>
    </div>
    <div class="row">
        <input [(ngModel)]="refreshIntervalMs" type="range" class="form-range" id="inputUpdateInterval"
            placeholder="Zahl eingeben" min="1" max="1000">
    </div>
    <div class="row">
        <div>{{refreshIntervalMs}}</div>
    </div>
    <div class="row top-buffer">
        <label for="inputUpdateInterval">Abstand der Rechtecke</label>
    </div>
    <div class="row">
        <input [(ngModel)]="SettingCanvasRectsSpaceBetween" type="range" class="form-range" id="inputUpdateInterval"
            placeholder="Zahl eingeben" min="0" max="4" (change)="drawGridOnCanvas()">
    </div>
    <div class="row">
        <div>{{SettingCanvasRectsSpaceBetween}}</div>
    </div>
    <div class="row top-buffer">
        <div class="col-6">
            <label for="inputUpdateInterval">Zeichne Rahmen</label>
        </div>
        <div class="col-6">
            <input [(ngModel)]="canvasDrawBorder" type="checkbox" class="checkbox" id="inputCanvasDrawBorder"
                (change)="drawGridOnCanvas()" placeholder="Zahl eingeben" min="1" max="1000">
        </div>
    </div>
    <div class="row">
        <br>
    </div>

</div>